{% extends 'base_log_reg.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<br><br><br><br>
 
    
<br><br>
    
<div class="container bg-white col-md-2 card shadow p-3 " id="log">
    <div class="login-form">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success {{ message.tags }} mt-4" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <h4> Login </h4>
            <div class="">
                <input type="text"  name="username"
                        placeholder="Username" required
                    >
            </div>
            <div class="mt-2">
                <input type="password"  name="password"
                        placeholder="Password" required>
            </div>
            <div class="mt-2">
                <button   >Login</button>
            </div>
            <br>
        </form>
        <p  ><a href="{% url 'register' %}" >Create an
                Account.</a></p>
    </div>
</div>
{% endblock %}
